@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6d6d6;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #282832;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar__links {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.navbar__links:hover,
.navbar__links.active {
    background-color: #005bb5;
    border-radius: 4px;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s cubic-bezier(0.28, 0.02, 0.28, 1);
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    background-color: #282832;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.container {
    display: flex;
}

.servicos-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.servico {
    background-color: #a0c4bd;
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.servico:hover {
    transform: scale(1.15);
}

.servico img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.servico h3 {
    color: #0074E0;
}

.servicos__container {
    text-align: center;
}

.servicos__titulo {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-family: "Calistoga", serif;
    background-color: #25aaaa59;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 15px;
}


.sobre {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.container img {
    width: 50%;
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    border: 4px solid #00000096;
}

.texto-sobre {
    text-align: justify;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-sobre p {
    margin: 0 0 10px;
    line-height: 1.6;
}


